.profileContainer {
    padding: 10px;
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 2vh;
    border: 2px solid #ee590f;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
    gap: 10px;
}

.nameBadgeStyle{
   background-color: #ee590f;
   color: white;
   padding: 10px;
   border-radius: 20px;
}

.imgCartmanSize {
    max-width: 80%;
    height: auto;
}

.logoutDeleteBtn{
    background-color: #ee590f;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.deleteBtn{
    background-color: #bd022c;
}