.profileContainer {
    position: relative;
    padding: 10px;
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 2vh;
    border: 2px solid #ee590f;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
    gap: 10px;
}

.profilePicPosition{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px;
}

.profilePic{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px lightgray;
}

.accordion{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.optionBars{
    font-size: 30px;
    color: black;
}

.accordion-button:not(.collapsed) {
    display: flex;
    justify-content: flex-end;
}

.accordion-button::after {
    display: none;
}

.accordion-item:last-of-type .accordion-button.collapsed{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.accordion-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    align-items: flex-end;
    gap: 5px;
}

.titlePosition{
    margin-top: 50px;
}

.nameBadgeStyle{
   background-color: #ee590f;
   color: white;
   padding: 10px;
   border-radius: 20px;
}

.imgCartmanSize {
    max-width: 80%;
    height: auto;
}

.logoutDeleteBtn{
    background-color: #ee590f;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteBtn{
    background-color: #bd022c;
}