.chatContainer{
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 2vh;
    border: 2px solid #ee590f;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
    gap: 10px;
}

.titleChat{
    background-color: #ee590f;
    border-radius: 3px;
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.messagePosition{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.message-me{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 4px;
}

.message-other{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 4px;
}

.card{
    box-shadow: 0px 5px 10px #888888;
}

.card-header-me{
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    text-align: right;
}

.card-header-other{
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    text-align: left;
}

.smallTime {
    font-size: smaller;
}

.message-text-me{
    text-align: right;
}

.message-text-other{
    text-align: left;
}

.inputButtonPosition{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    padding: 5px;
    border-top: 2px solid lightcoral;
}

.inputField {
    border: 1px solid #ee590f;
    border-radius: 3px;
    min-height: 30px;
    max-height: 200px;
    width: 80%;
}

.sendArrow{
    font-size: 40px;
    color: #ee590f;
}