.chatContainer{
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 2vh;
    border: 2px solid #ee590f;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
    gap: 10px;
}

.messagePosition{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.oneMessageBox{
    background-color: #ee590f;
    border-radius: 3px;
    padding: 3px;
}

.inputButtonPosition{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    padding: 5px;
}

.inputField {
    border: 1px solid #ee590f;
    border-radius: 3px;
    min-height: 30px;
    max-height: 200px;
    width: 80%;
}

.sendArrow{
    font-size: 40px;
    color: #ee590f;
}