.containerPosition{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.homeContainer{
    padding: 10px;
    width: 95vw;
    margin-top: 2vh;
    border: 2px solid #ee590f;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
}

.imgTextPosition{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.buttonTextPosition {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
}

.imageCartmanSizing{
    max-width: 60%;
    height: auto;
}